<h1 class="title">ユーザー一覧</h1>
<table class="table">
  <thead>
    <th>ID</th>
    <th>名前</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name, "/users/#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
